// Define variables for your color scheme

// For example:
$red: #B02E0C;
$blue: #297CBB;
$light-blue: #6D9DC5;
$yellow: #FDB631;
$orange: #F45D01;
$green: #32B796;
$gray: #000000;
$light-gray: #D8D8D8;
