.bio {
  padding: 75px;
  margin: 0 75px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.description {
  background-color: white;
  box-shadow: 1px 1px 10px 0 rgba(200, 200, 200, 1);
  padding: 1px 25px;
  width: 400px;
  display: flex;
  flex-direction: column;
  h1 {
    color: $blue;
    text-align: center;
  }
}

.bio-content-img {
  position: absolute;
  left: 0;
}

.bio-content-item {
  position: absolute;
  right: 0;
}

.btn-contact {
  margin: 3% 35%;
  border-radius: 3px;
  background-color: $black;
  color: $gray;
  text-decoration: none;
  &:hover {
    background-color: $dark-gray;
    text-decoration: none;
    color: $gray;
  }
}


