.recordings {
  padding: 75px;
  margin: 0 75px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.content-img {
  position: absolute;
  right: 0;
}

.content-item {
  position: absolute;
  left: 0;
}

.recording-player {
  background-color: #ffffff;
  padding: 1px 25px;
  h1 {
    color: $blue;
    text-align: center;
  }
}

