.recordings {
  padding: 75px;
  margin: 0 75px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.content-img {
  position: absolute;
  right: 0;
}

.content-item {
  position: absolute;
  left: 0;
}

.recording-player {
  background-color: white;
  box-shadow: 1px 1px 10px 0 rgba(200, 200, 200, 1);
  padding: 1px 25px;
  h1 {
    color: $blue;
    text-align: center;
  }
}

