
<div class="navbar-wagon navbar-fixed-top">
  <div class="search">
    <div class="sheetsbtn">
      <%= link_to "Music sheets", sheets_path, class:"navbar-wagon-right navbar-wagon-item navbar-wagon-link" %>
    </div>
  </div>
  <!-- Logo -->
  <div class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
    <p><%= image_tag ("logo.png") %></p>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Bio</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Events</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Opinion</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Bio</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Opinion</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>


