<div class="cue-playlist-container">
<div class="cuebar cue-tracks-count-6 is-tracklist-closed" id="player" itemscope="" itemtype="http://schema.org/MusicPlaylist" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
  <meta itemprop="numTracks" content="6">

  <span class="mejs-offscreen">Audio Player</span><div id="mep_0" class="mejs-container cue-skin-cuebar" tabindex="0" role="application" aria-label="Audio Player" style="width: 100%; height: auto;"><div class="mejs-inner"><div class="mejs-mediaelement"><audio src="http://jacqueslenot.net/wp-content/uploads/2015/10/Chiaroscuro-Piste-011.mp3" preload="none" class="cue-audio" style="width: 100%; height: auto"></audio></div><div class="mejs-layers"><div class="mejs-poster mejs-layer" style="display: none; width: 100%; height: auto;"></div><span class="mejs-track-artwork"><img src="" style="display: none;"></span><div class="mejs-track-details"><span class="mejs-track-artist">Ensemble multilatérale, dir Jean Deroyer, Winston Choi, Laurent Camatte</span><span class="mejs-track-title">Chiaroscuro</span></div></div><div class="mejs-controls"><div class="mejs-button mejs-previous-button mejs-previous"><button type="button" aria-controls="mep_0" title="Previous Track"><svg class="cue-icon-previous" data-cue-control=".mejs-previous-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M 10,6l0,20 l-6,0 l0-20 l 6,0 zM 28,6l0,20 l-16-10z"></path></svg></button></div><div class="mejs-button mejs-playpause-button mejs-play"><button type="button" aria-controls="mep_0" title="Play" aria-label="Play"><svg class="cue-icon-pause" data-cue-control=".mejs-playpause-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" fill="#000000" height="32" width="32"><path d="M 14,6l0,20 l-6,0 l0-20 l 6,0 zM 24,6l0,20 l-6,0 l0-20 l 6,0 z"></path></svg><svg class="cue-icon-play" data-cue-control=".mejs-playpause-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M 24,16l-16,10l0-20 z"></path></svg></button></div><div class="mejs-button mejs-next-button mejs-next"><button type="button" aria-controls="mep_0" title="Next Track"><svg class="cue-icon-next" data-cue-control=".mejs-next-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M 20,16l-16,10l0-20 zM 28,6l0,20 l-6,0 l0-20 l 6,0 z"></path></svg></button></div><div class="mejs-time-rail" style="width: 100%;"><span class="mejs-time-total mejs-time-slider" aria-label="Time Slider" aria-valuemin="0" aria-valuemax="NaN" aria-valuenow="0" aria-valuetext="00:00" role="slider" tabindex="0" style="width: 1174px;"><span class="mejs-time-buffering" style="display: none;"></span><span class="mejs-time-loaded"></span><span class="mejs-time-current"></span><span class="mejs-time-handle"></span><span class="mejs-time-float" style="display: none;"><span class="mejs-time-float-current">00:00</span><span class="mejs-time-float-corner"></span></span></span></div><div class="mejs-time" role="timer" aria-live="off"><span class="mejs-currenttime">00:00</span><span class="mejs-time-separator"> / </span><span class="mejs-duration">8:06</span></div><div class="mejs-button mejs-volume-button mejs-mute"><button type="button" aria-controls="mep_0" title="Couper le son" aria-label="Couper le son"><svg class="cue-icon-volume" data-cue-control=".mejs-volume-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M 10,12l 6-6l0,20 l-6-6l-6,0 l0-8 l 6,0 zM 21.656,10.344l 1.422-1.422q 1.375,1.391 2.148,3.219t 0.773,3.859q0,1.359 -0.359,2.656t-1.008,2.398t-1.555,2.023l-1.422-1.422q 1.109-1.109 1.727-2.57t 0.617-3.086t-0.617-3.086t-1.727-2.57zM 18.828,13.172l 1.422-1.422q 0.406,0.422 0.727,0.898t 0.547,1.016t 0.352,1.133t 0.125,1.203 q0,1.219 -0.461,2.313t-1.289,1.938l-1.422-1.422q 1.172-1.172 1.172-2.828t-1.172-2.828z"></path></svg></button><a href="javascript:void(0);" class="mejs-volume-slider"><span class="mejs-offscreen">Use Up/Down Arrow keys to increase or decrease volume.</span><div class="mejs-volume-total"></div><div class="mejs-volume-current"></div><div class="mejs-volume-handle"></div></a></div><div class="mejs-button mejs-toggle-playlist-button mejs-toggle-playlist is-closed"><button type="button" aria-controls="mep_0" title="Toggle Playlist"><svg class="cue-icon-close" data-cue-control=".mejs-toggle-playlist-button button" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M 19,15l 13,13l-2,2l-13-13l-13,13l-2-2l 13-13l-13-13l 2-2l 13,13l 13-13l 2,2z"></path></svg><svg class="cue-icon-list" data-cue-control=".mejs-toggle-playlist-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M 32,4l0,4 l-32,0 l0-4 l 32,0 zM0,14l 32,0 l0,4 l-32,0 l0-4 zM0,24l 32,0 l0,4 l-32,0 l0-4 z"></path></svg></button></div><div class="mejs-button mejs-toggle-player-button mejs-toggle-player"><button type="button" aria-controls="mep_0" title="Toggle Player"><svg class="cue-icon-left-arrow" data-cue-control=".mejs-toggle-player-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M 32,30l-15-15l 15-15l0,30 z"></path></svg><svg class="cue-icon-right-arrow" data-cue-control=".mejs-toggle-player-button button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" viewBox="0 0 32 32" height="32" width="32"><path d="M0,30l 15-15l-15-15l0,30 z"></path></svg></button></div></div><div class="mejs-clear"></div></div></div>

  <div class="cue-tracks" style="max-height: 532px;">
    <ol class="cue-tracks-list">


        <li class="cue-track is-playable is-current" itemprop="track" itemscope="" itemtype="http://schema.org/MusicRecording">

          <span class="cue-track-details cue-track-cell">
            <span class="cue-track-title" itemprop="name">Chiaroscuro</span>
            <span class="cue-track-artist" itemprop="byArtist">Ensemble multilatérale, dir Jean Deroyer, Winston Choi, Laurent Camatte</span>
          </span>

          <span class="cue-track-length cue-track-cell">8:06</span>

                  </li>


        <li class="cue-track is-playable" itemprop="track" itemscope="" itemtype="http://schema.org/MusicRecording">

          <span class="cue-track-details cue-track-cell">
            <span class="cue-track-title" itemprop="name">We approach the sea</span>
            <span class="cue-track-artist" itemprop="byArtist">Winston Choi</span>
          </span>

          <span class="cue-track-length cue-track-cell">11:07</span>

                  </li>


        <li class="cue-track is-playable" itemprop="track" itemscope="" itemtype="http://schema.org/MusicRecording">

          <span class="cue-track-details cue-track-cell">
            <span class="cue-track-title" itemprop="name">Exorde - Narratio</span>
            <span class="cue-track-artist" itemprop="byArtist">Jean-Christophe Revel</span>
          </span>

          <span class="cue-track-length cue-track-cell">12:57</span>

                  </li>


        <li class="cue-track is-playable" itemprop="track" itemscope="" itemtype="http://schema.org/MusicRecording">

          <span class="cue-track-details cue-track-cell">
            <span class="cue-track-title" itemprop="name">Mascaret</span>
            <span class="cue-track-artist" itemprop="byArtist">Winston Choi</span>
          </span>

          <span class="cue-track-length cue-track-cell">1:37</span>

                  </li>


        <li class="cue-track is-playable" itemprop="track" itemscope="" itemtype="http://schema.org/MusicRecording">

          <span class="cue-track-details cue-track-cell">
            <span class="cue-track-title" itemprop="name">L'esprit de solitude</span>
            <span class="cue-track-artist" itemprop="byArtist">Winston Choi</span>
          </span>

          <span class="cue-track-length cue-track-cell">5:56</span>

                  </li>


        <li class="cue-track is-playable" itemprop="track" itemscope="" itemtype="http://schema.org/MusicRecording">

          <span class="cue-track-details cue-track-cell">
            <span class="cue-track-title" itemprop="name">Agalma</span>
            <span class="cue-track-artist" itemprop="byArtist">Winston Choi</span>
          </span>

          <span class="cue-track-length cue-track-cell">10:01</span>

                  </li>


    </ol>
  </div>










</div>
    <script type="application/json" class="cue-playlist-data">{"thumbnail":"","tracks":[{"title":"Chiaroscuro","artist":"Ensemble multilat\u00e9rale, dir Jean Deroyer, Winston Choi, Laurent Camatte","audioId":1296,"audioUrl":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/Chiaroscuro-Piste-011.mp3","format":"mp3","length":"8:06","artworkId":0,"artworkUrl":"","order":0,"mp3":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/Chiaroscuro-Piste-011.mp3","meta":{"artist":"Ensemble multilat\u00e9rale, dir Jean Deroyer, Winston Choi, Laurent Camatte","length_formatted":"8:06"},"src":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/Chiaroscuro-Piste-011.mp3","thumb":{"src":""}},{"title":"We approach the sea","artist":"Winston Choi","audioId":1293,"audioUrl":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/05-We-approach-the-sea1.mp3","format":"mp3","length":"11:07","artworkId":0,"artworkUrl":"","order":1,"mp3":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/05-We-approach-the-sea1.mp3","meta":{"artist":"Winston Choi","length_formatted":"11:07"},"src":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/05-We-approach-the-sea1.mp3","thumb":{"src":""}},{"title":"Exorde - Narratio","artist":"Jean-Christophe Revel","audioId":1297,"audioUrl":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/Suppliques-01-Exorde-Narratio1.mp3","format":"mp3","length":"12:57","artworkId":0,"artworkUrl":"","order":2,"mp3":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/Suppliques-01-Exorde-Narratio1.mp3","meta":{"artist":"Jean-Christophe Revel","length_formatted":"12:57"},"src":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/Suppliques-01-Exorde-Narratio1.mp3","thumb":{"src":""}},{"title":"Mascaret","artist":"Winston Choi","audioId":1294,"audioUrl":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/06-Mascaret1.mp3","format":"mp3","length":"1:37","artworkId":0,"artworkUrl":"","order":3,"mp3":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/06-Mascaret1.mp3","meta":{"artist":"Winston Choi","length_formatted":"1:37"},"src":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/06-Mascaret1.mp3","thumb":{"src":""}},{"title":"L'esprit de solitude","artist":"Winston Choi","audioId":1295,"audioUrl":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/16-Lesprit-de-solitude1.mp3","format":"mp3","length":"5:56","artworkId":0,"artworkUrl":"","order":4,"mp3":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/16-Lesprit-de-solitude1.mp3","meta":{"artist":"Winston Choi","length_formatted":"5:56"},"src":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/16-Lesprit-de-solitude1.mp3","thumb":{"src":""}},{"title":"Agalma","artist":"Winston Choi","audioId":1292,"audioUrl":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/01-Agalma1.mp3","format":"mp3","length":"10:01","artworkId":0,"artworkUrl":"","order":5,"mp3":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/01-Agalma1.mp3","meta":{"artist":"Winston Choi","length_formatted":"10:01"},"src":"http:\/\/jacqueslenot.net\/wp-content\/uploads\/2015\/10\/01-Agalma1.mp3","thumb":{"src":""}}],"signature":"20160726091803"}</script>
    </div>
