
<div class="bio">
  <%= image_tag asset_path("handyfriend2.jpg"), class: "bio-content-img" %>
  <div class="bio-content-item animation-element bounce-right">
    <div class="description">
      <h1>Biographie</h1>
      <p>Haec ordo haec et rebellis novo dissimulantem dissimulantem ignorare ut quodam quodam Augustae tenus rebellis quae ut recalcitrantes strepit novo quae praefectum contumacem nos incusat iusserim praefectum iusserim praefectum maiestati quod postulat inusitato quod et strepit quid per recalcitrantes strepit strepit et Augustae nos praefectum et recalcitrantes iratus quodam.</p>
      <a class="contact" href="#"><button type="button" class="btn btn-default">contact</button></a>
    </div>
  </div>
</div>

