<div class="container">
  <div class="row bio">
   <div class="col-xs-12 col-md-5 description">
      <h1>Biographie</h1>
      <p>Haec ordo haec et rebellis novo dissimulantem dissimulantem ignorare ut quodam quodam Augustae tenus rebellis quae ut recalcitrantes strepit novo quae praefectum contumacem nos incusat iusserim praefectum iusserim praefectum maiestati quod postulat inusitato quod et strepit quid per recalcitrantes strepit strepit et Augustae nos praefectum et recalcitrantes iratus quodam.</p>
    </div>
    <div class="col-md-7">
       <%= image_tag asset_path("diversity.jpg"), class: "bio-img bio-item" %>
    </div>

  </div>
</div>
