
  <div class="recordings">
    <%= image_tag asset_path("handyfriend.jpg"), class: "content-img"%>
    <div class="content-item animation-element bounce-left">
      <div class="recording-player">
        <h1>Some recordings</h1>
        <p><iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/363923962%3Fsecret_token%3Ds-bL9x4&amp;color=%23000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe></p>
        <p></p>
      </div>
    </div>
  </div>
