
.bounce-up  {
  opacity: 0;
  transition: all 700ms ease-out;
  //-moz-transition: all 700ms ease-out;
  //-webkit-transition: all 700ms ease-out;
  //-o-transition: all 700ms ease-out;
  //transform: translate3d(0, 0px, 0px);
  //-moz-transform: translate3d(0, 100px, 0px);
  //-webkit-transform: translate3d(0, 100px, 0px);
  //-o-transform: translate(0, 100px);
  //-ms-transform: translate(0, 100px);
  //transform: translate3d(0, 100px, 0px);

}

.in-view {
  opacity: 1;
  transform: translate3d(0px, 100px, 0px);
  //-moz-transform: translate3d(0, -100px, 0px);
  //-webkit-transform: translate3d(0, -100px, 0px);
  //-o-transform: translate(0, -100px);
  //-ms-transform: translate(0, -100px);
}

.out-view {
  opacity: 0
}
